html,
body{
    margin: 0;
    padding: 0;
}
header{
    height: 10vw;
    background-color: #e5e3e3;
}

#product-image,
#image-container{
    width: 15vw;
    height: 15vw;
    object-fit: contain;
}

#header-container{
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#product-presentation{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    padding-top: 1vw;
}

.product-info{
    margin: 6px;
}

#header-ui-container{
    font-size: 1vw;
}

#content-container{
    width: 80vw;
    margin-left: 10vw;
    height: 100vw;
    background-color: #efefef;
}

img:hover{
    box-shadow: 0 0 5px 0 rgba(72, 67, 67, 0.5);
    border-color: rgba(82, 80, 80, 0.5);
    border-radius: 20px;
    transform: scale(105%);
}

#products-container{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    background-color: #efefef;
}
