<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div id="header_container">
        <div id="logo_container">
            <h4>My Logo</h4>
        </div>
        <div>
            Ecommerce
        </div>
        <div id="header-ui-container">
            <ul>
                <li>Contact</li>
                <li>About</li>
                <li>mail@company.com</li>
            </ul>
        </div>
    </div>
</header>
<div id="content">
    <button> <a th:href="'/all'"> All customers</a></button>
    <button> <a th:href="'/products'"> Show products</a></button>
</div>
</body>
</html>